<% include template/header %>
    <div class="calculadora">
        <h2>Nova Operação</h2>
        <div class="form-calculadora">
            <form method="post">
                <label for="descricao">Descrição: </label>
                <input type="text" name="descricao" id="descricao"><br>
                    
                <label for="valor">Valor: </label>
                <input type="text" name="valor" id="valor"><br>
                    
                <button type="submit">Adicionar</button>
                <div style="clear: both;"></div>
            </form>
        </div>
    </div>
<% include template/footer %>