    <section class="logo">
            <img src="/images/meu-dinheiro.png">
            <ul class="menu">
                <a href="/"><li>Home</li></a>
                <a href="/calculadora"><li>Calculadora</li></a>
                <a href="/operacoes"><li>Operações</li></a>
                <a href="/nova-operacao"><li>Nova Operação</li></a>
            </ul>
    </section>