    <section class="logo">
            <img src="/images/meu-dinheiro.png">
            <ul class="menu">
                <a href="/"><li>Home</li></a>
                <a href="/calculadora"><li>Calculadora</li></a>
            </ul>
    </section>